.about {
    text-align: center;
    background-color: var(--bg-main-grey);
    padding: 60px 30px 100px;
}

.about-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-main-black);
    margin: 0 0 42px 0;
}

.title-content {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px;
    max-width: 780px;
}

.about-content {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px;
    max-width: 780px;
}

.russki::after{
    content: "";
    display: block;
    width: min(420px, 100%);
    height: 1px;
    background-color: var(--color-main-black);
    margin: 15.5px auto 17.5px auto;
}

@media (max-width: 480px){
.title-content,
.about-content {
    font-size: 14px;
}
.russki::after{
    width: min(300px, 100%);
}
}