.contacts {
    padding: 55px 0 63px;
    text-align: center;
}


.contacts-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 75px;
}

.contacts-link{
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main-black);
    width: 211px;
    height: 42px;
    border-radius: 21px;
    border:none;
    margin: 0 auto 38px auto;
    text-align: center;
}

.contacts-link:hover{
    opacity: 0.8;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.social-icon{
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
}

.contacts-description{
    color: var(--font-color-grey);
    font-size: 16px;
    font-weight: 500;
    margin: 34px auto 0;
    width: 260px;
}

.tube:hover{
    fill: rgb(247, 79, 79);
}
.IN:hover{
    fill: dodgerblue;
}
.gram:hover{
    fill: rgb(220, 142, 168);
}
.book:hover{
    fill: rgb(69, 69, 194);
}

@media (max-width: 480px){
    
    .contacts {
    padding: 60px 0 125px;
    text-align: center;
}

.socials{
    gap: 20px;
}

    .social-icon{
    width: 55px;
    height: 55px;
}

.contacts-description{
    font-size: 14px;
}
}